<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <head th:replace="header :: html_head(headTitle='List Categories')">
</head>
<body>
    <div class="container">
        <h1>Category List</h1>
        <div>
            <div class="my-3">
                <a th:href="@{/categories/new}" class="btn btn-primary">Add Category</a>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="category : ${categoryList}">
                        <td th:text="${category.id}"></td>
                        <td th:text="${category.name}"></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div th:replace="footer :: footer"></div>
    </div>
</body>
</html>