<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="header :: html_head(headTitle='Product Form')">
    </head>
<body>
<div class="container text-center">
    <h1>Product Form</h1>
    <h1 th:text="${product.id == null ? 'Add Product' : 'Edit Product'}"></h1>
    <div>
        <form th:action="@{/products/saveProduct}" th:object="${product}" method="POST"
              style="max-width: 600px; margin: 30px auto;">
            <input type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Product Name:</label>
                <div class="col-sm-8">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Enter product name" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Product Price:</label>
                <div class="col-sm-8">
                    <input type="number" th:field="*{price}" class="form-control" value="0.0" step="0.1" min="0.0" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Category:</label>
                <div class="col-sm-8">
                    <select th:field="*{category}" class="form-control" required>
                        <th:block th:each="cat : ${categoryList}">
                            <option th:value="${cat.id}" th:text="${cat.name}"></option>
                        </th:block>
                    </select>
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>