<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="header :: html_head(headTitle='User Form')">
    </head>
<body>
<div class="container text-center">
    <h1>User Form</h1>
    <h1 th:text="${user.id == null ? 'Add User' : 'Edit User'}"></h1>
    <div>
        <form th:action="@{/users/save}" th:object="${user}" method="POST"
              style="max-width: 600px; margin: 30px auto;">
            <input type="hidden" th:field="*{id}">
            <div class="form-group row">
                <label class="col-form-label col-sm-4">User Email:</label>
                <div class="col-sm-8">
                    <input type="email" th:field="*{email}" class="form-control" placeholder="Enter user email" required>
                </div>
                <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                     class="col-sm-12 alert alert-danger" role="alert">Error Message
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Password:</label>
                <div class="col-sm-8">
                    <input type="password" th:field="*{password}" class="form-control" placeholder="Enter password"
                           maxlength="10" title="10 characters maximum" required>
                </div>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                     class="col-sm-12 alert alert-danger" role="alert">Error Message
                </div>
            </div>
            <div class="form-group row">
                <label class="col-form-label col-sm-4">Roles:</label>
                <div class="col-sm-8 text-left">
                    <th:block th:each="role : ${roleList}">
                    <div>
                        <input type="checkbox" th:field="*{roles}" th:value="${role.id}" th:text="${role.name}" class="m-2">
                    </div>
                    </th:block>
                </div>
                <div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}"
                     class="col-sm-12 alert alert-danger" role="alert">Error Message
                </div>
            </div>
            <div class="text-center p-3">
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>