<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="header :: html_head(headTitle='List Users')">
</head>
<body>
    <div class="container">
        <h1>User List</h1>
        <div>
            <div class="my-3">
                <a th:href="@{/users/new}" class="btn btn-primary">Add User</a>
            </div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Email</th>
                        <th scope="col">Roles</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${userList}">
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.roles}"></td>
                        <td>
                            <a th:href="@{|/users/edit/${user.id}|}">Edit</a>
                            &nbsp;
                            <a th:href="@{|/users/delete/${user.id}|}"
                                th:onclick="|return confirm('Are you sure you want to delete user id: ${user.id}?')|">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>